.ItemDetail {
    margin: 0 auto;
    color: white;
    text-align: center;
    width: 50%;

}

.ItemDetail h2 {
    margin-top: 3rem;
}

.AccionesPostCompra {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.accion {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    background-color: #FF8C00;
    border: 1rem black;
    border-radius: 0.5rem;
    padding: 1rem;
}


.accion:hover {
    color: #b4b4b4;
    transition: 0.3s;
}